@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

.buttonHeart {
    display: flex;
    margin-left: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
}

.content {
    padding: 4px 6px;
    display: flex;
    justify-content: center;

    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}

.content.heart-active {
    border-color: #f9b9c4;
    background: #fbd0d8;
}

.heart {
    background: url("../images/icon/heart.png") no-repeat;
    background-size: 3000%;
    height: 35px;
    width: 34px;
    margin: -7px -10px -10px -10px;
}

.text {
    font-size: 13px;
    margin-top: 2.5px;
    margin-left: 2px;
    color: grey;
    font-family: "Montserrat", sans-serif;
}

.user-like {
    margin-top: 8px;
    margin-left: 5px;
    letter-spacing: 1px;
}

.numb {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 10px;
    color: grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.numb:before {
    font-size: 10px;
    margin-left: 6px;
    font-weight: 600;
    color: #9c9496;
}

.numb.heart-active:before {
    color: #000;
}

.text.heart-active {
    color: #000;
}

.heart.heart-active {
    animation: animate 0.8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
